.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  display: flex;
  width: 200.5px;
  height: 40.645px;
  border-radius: 30px;
  cursor: pointer;
}
