.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;
}

.header {
  width: 650px;
}
.header h1 {
  color: #0d4c70;
  text-align: center;
  font-family: DM Sans;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px; /* 116.667% */
  letter-spacing: -1.2px;
  margin-top: 50px;
}

.login-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login-form input {
  width: 456px;
  height: 50px;
  border-radius: 43px;
  border: 1px solid #ccc;
  background: #fff;
  padding: 0 20px;
  font-size: 22px;
  color: #747171;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
.policy {
  width: 450px;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.policy span {
  color: #0077b7;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  cursor: pointer;
}
.login-footer {
  margin-top: auto;
}
.login-footer ul {
  display: flex;
  gap: 30px;
}
.login-footer li {
  list-style: none;
  color: #747171;
  text-align: center;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  cursor: pointer;
}
.login-footer li:hover {
  color: #0077b7;
}
.absolute-images img {
  height: 380px;
}
.workshop-left {
  position: absolute;
  left: 0;
  top: 240px;
  z-index: 10;
}
.workshop-right,
.blue-circle {
  position: absolute;
  right: 0;
}
.workshop-right {
  top: 60px;
  z-index: 10;
}
.yellow-circle {
  position: absolute;
  left: 38px;
  top: 150px;
}
.blue-circle {
  top: 200px;
  right: 0;
}
.login-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.login-button button:hover {
  scale: 1.05;
}
#login {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  display: flex;
  width: 250.5px;
  height: 50.645px;
  border-radius: 30px;
  background: #0077b7;
  margin-top: 10px;
  cursor: pointer;
}
#register {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  display: flex;
  width: 200.5px;
  height: 40.645px;
  border-radius: 30px;
  background: #00b71b;
  cursor: pointer;
}
.error-page {
  width: 100%;
  height: 100vh;
}
.error-page img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.error-page h1 {
  position: absolute;
  top: 30px;
  left: 30px;
  color: white;
  font-size: 64px;
}
.error-page button {
  position: absolute;
  top: 110px;
  left: 30px;
  color: white;
  background-color: rgb(98, 98, 237);
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}
